include ../modules/main.pug
+main('Ortis | Карточка товара')
include ../modules/header.pug
main.main
	include ../modules/topbar.pug
	include ../modules/submenu.pug
	.breadcrumbs
		.container
			a.breadcrumbs__link(href="#") Главная
			a.breadcrumbs__link(href="#") Раздел
			a.breadcrumbs__link(href="#") Подраздел
	.goods-card
		.container
			.goods-card__mobile-wrap
				h1.goods-card__title.goods-card__title--mobile Штукатурная станция mono-mix FU (на 220В)
				.goods-card__new.goods-card__new--mobile Новинка
			.goods-card__wrap
				.goods-card__sliders
					.goods-card__big-slider
						.goods-card__big-slider-item
							img(src="img/prod-slider.png")
						.goods-card__big-slider-item
							img(src="img/prod-slider.png")
						.goods-card__big-slider-item
							img(src="img/prod-slider.png")
						.goods-card__big-slider-item
							img(src="img/prod-slider.png")
					.goods-card__mini-slider
						.goods-card__mini-slider-item
							img(src="img/mini-slider1.png")
						.goods-card__mini-slider-item
							img(src="img/mini-slider2.png")
						.goods-card__mini-slider-item
							img(src="img/mini-slider1.png")
						.goods-card__mini-slider-item
							img(src="img/mini-slider2.png")
				.goods-card__info
					h1.goods-card__title Штукатурная станция mono-mix FU (на 220В)
					.goods-card__new Новинка
					.goods-card__prices
						.goods-card__row.flex-wrap
							.goods-card__amount 312 500₽
							.goods-card__nds С НДС 18%
							.goods-card__status Ожидается
						.goods-card__row.flex-wrap
							button.goods-card__buy.common-btn.common-btn--pink(type="button") Купить сейчас
							button.goods-card__tocart.common-btn.common-btn--blue(type="button") Положить в корзину
					.goods-card__buttons
						a.goods-card__link(href="#").goods-card__link--3d 3D визуализация
						a.goods-card__link(href="#").goods-card__link--clock Как купить в рассрочку?
						a.goods-card__link(href="#").goods-card__link--rent Взять этот товар в аренду
					.goods-card__tabs
						a.goods-card__tab(href="#" data-id="tab-descr").active Описание
						a.goods-card__tab(href="#" data-id="tab-tech") Технические характеристики
						a.goods-card__tab(href="#" data-id="tab-advant") Преимущества
						a.goods-card__tab(href="#" data-id="tab-set") Комплект поставки
						a.goods-card__tab(href="#" data-id="tab-review") Отзывы
					.goods-card__tab-item.active#tab-descr
						p.goods-card__text Штукатурная станция М280 - надежное, простое в обслуживании и эксплуатации штукатурное оборудование не только на российском строительном рынке. Данная ШТУКАТУРНАЯ СТАНЦИЯ идеально подходит для начинающих компаний и компаний у которых регулярно меняется штат отделочников и нет времени на обучение нового персонала.
						p.goods-card__text Штукатурная станция М280 имеет интуитивно понятную панель управления, минимум электроники и простейшую конструкцию, все это способствует широкому распространению данной штукатурной машины на российских строительных объектах.
						p.goods-card__text Используя штукатурную станцию М280, можно выполнять следующие работы с применением сухих смесей для машинного нанесения: оштукатуривание внутренних и наружных стен, оштукатуривание потолков, устройство полов (наливные полы, ровнители, черновые стяжки).
						p.goods-card__text Стандартный насосный блок - шнековая пара D 6-3
						p.goods-card__text Увеличение производительности насосного блока - шнековая пара D8-2
						a(href="#") Сухие смеси для машинного нанесения
					.goods-card__tab-item#tab-tech
						.goods-card__tech-row
							.goods-card__tech-left Производительность, л/мин:
							.goods-card__tech-right 1-60
						.goods-card__tech-row
							.goods-card__tech-left Высота подачи, м:
							.goods-card__tech-right 30
						.goods-card__tech-row
							.goods-card__tech-left Дальность подачи, м:
							.goods-card__tech-right 20
						.goods-card__tech-row
							.goods-card__tech-left Давление раствора, бар:
							.goods-card__tech-right 100
						.goods-card__tech-row
							.goods-card__tech-left.goods-card__tech-left--title Мощность
							.goods-card__tech-right 
						.goods-card__tech-row
							.goods-card__tech-left Горизонтальный привод, кВт:
							.goods-card__tech-right до 10
						.goods-card__tech-row
							.goods-card__tech-left Вертикальный привод, кВт:
							.goods-card__tech-right до 50
						.goods-card__tech-row
							.goods-card__tech-left Компрессор, кВт:
							.goods-card__tech-right до 40
						.goods-card__tech-row
							.goods-card__tech-left Водный насос, кВт:
							.goods-card__tech-right до 30
						.goods-card__tech-row
						.goods-card__tech-row
							.goods-card__tech-left Электроподключение:
							.goods-card__tech-right 400В, 50 Гц, 3ph
						.goods-card__tech-row
							.goods-card__tech-left Габаритные размеры, мм (ДхШхВ):
							.goods-card__tech-right ок. 1350х640х1390
						.goods-card__tech-row
							.goods-card__tech-left Вес, кг:
							.goods-card__tech-right ок. 250
					.goods-card__tab-item#tab-advant
						ul.goods-card__advant-list
							li Производится и собирается в Германии;
							li Максимально возможное высочайшее качество приготовления раствора;
							li Регулируемая производительность в стандартной комплектации;
							li Современная панель управления с индикатором сбоев;
							li Более мощный компрессор;
							li Специальные смесительные инструменты, обеспечивающие высочайшее качество смешивания; 
							li Увеличенный в 2-3 раза ресурс расходных частей;
							li Отсутствие аналогов на мировом рынке;
							li Три независимые функции в одном (смесительный растворонасос, растворосмеситель непрерывного действия, растворонасос);
							li Возможность использовать низкокачественные и трудно перемешиваемые сухие смеси;
							li Небольшой размер штукатурной станции - ширина 64 см, что позволяет использовать в небольших помещениях;
							li Небольшой вес штукатурной станции около 250 кг и возможность разбирать на пять модулей, что обеспечивает легкую транспортировку и подъем на объект.
					.goods-card__tab-item#tab-set
						h3.goods-card__set-title Стандартный КОМПЛЕКТ ПОСТАВКИ
						p.goods-card__text штукатурной станции duo-mix 2000 (в данной комплектации штукатурная станция duo-mix 2000 готова к эксплуатации с длинной шланга 10 м, единственное, необходимо обеспечить подключение к электропитанию через кабель КГ 5х4,0 мм или КГ 4х4,0 мм и подключение к воде через водный шланг 18 мм)
						ul.goods-card__advant-list.goods-card__advant-list--margin
							li Производится и собирается в Германии;
							li Максимально возможное высочайшее качество приготовления раствора;
							li Регулируемая производительность в стандартной комплектации;
							li Современная панель управления с индикатором сбоев;
							li Более мощный компрессор;
							li Специальные смесительные инструменты, обеспечивающие высочайшее качество смешивания; 
							li Увеличенный в 2-3 раза ресурс расходных частей;
							li Отсутствие аналогов на мировом рынке;
						h3.goods-card__set-title ДОПОЛНИТЕЛЬНЫЙ КОМПЛЕКТ ПОСТАВКИ
						p.goods-card__text штукатурной станции duo-mix 2000 (используется для устройства стяжек, наливных полов и увеличивает производительность штукатурной станции до 60 л/мин)
						ul.goods-card__advant-list
							li Производится и собирается в Германии;
							li Максимально возможное высочайшее качество приготовления раствора;
							li Регулируемая производительность в стандартной комплектации;
							li Современная панель управления с индикатором сбоев;
					.goods-card__tab-item#tab-review
						.goods-card__review-item.flex-wrap
							.goods-card__review-img
								img(src="img/review-img.png")
							.goods-card__review-info
								p.goods-card__review-text Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество. 
								p.goods-card__review-text Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле. 
								p.goods-card__review-text Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
						.goods-card__review-item.flex-wrap
							.goods-card__review-img
								img(src="img/review-img.png")
							.goods-card__review-info
								p.goods-card__review-text Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество. 
								p.goods-card__review-text Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле. 
								p.goods-card__review-text Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
						.goods-card__review-item.flex-wrap
							.goods-card__review-img
								img(src="img/review-img.png")
							.goods-card__review-info
								p.goods-card__review-text Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество. 
								p.goods-card__review-text Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле. 
								p.goods-card__review-text Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
					a.goods-card__link(href="#").goods-card__link--down Скачать инструкцию
					a.goods-card__link(href="#").goods-card__link--pdf Скачать описание в PDF формате
					.goods-card__advant.flex-wrap
						.goods-card__advant-item Преимущество
						.goods-card__advant-item Преимущество
						.goods-card__advant-item Преимущество
						.goods-card__advant-item Преимущество
	include ../modules/pop-goods.pug
	+pop-goods('С этим товаром покупают', 'black')
	.video-block
		.container
			h2.video-block__title Видео
			.video-block__slider
				.video-block__slide
					img.video-block__img(src="img/video-bg.png")
				.video-block__slide
					img.video-block__img(src="img/video-bg.png")
	include ../modules/news.pug
	+news('Статьи', 'Читать все статьи')
include ../modules/footer.pug
include ../modules/site-map.pug
script(src="js/libs.min.js")
script(src="js/scripts.js")