include ../modules/main.pug
+main('Ortis | Партнеры')
include ../modules/header.pug
main.main
	include ../modules/topbar.pug
	include ../modules/submenu.pug
	.breadcrumbs
		.container
			a.breadcrumbs__link(href="#") Главная
			a.breadcrumbs__link(href="#") Раздел
			a.breadcrumbs__link(href="#") Подраздел
	.partners
		.container
			h1.partners__title Партнеры
			.partners__wrap
				.partners__map
				.partners__map-data
					.partners__scroll
						.partners__city-wrap.partners__city-wrap--msk
							h2.partners__city Московская область
							span.partners__number 1
						a.partners__item(href="#")
							h4.partners__item-title ООО "Пласт"
							p.partners__tel +7 (495) 666-14-88
							p.partners__address п. Нахабино, ул. Вокзальная, д. 25
						a.partners__item(href="#")
							h4.partners__item-title ООО "СТАРАТЕЛИ"
							p.partners__tel +7 (495) 641-30-00
							p.partners__address г. Лыткарино, промзона Тураево, стр. 13
						.partners__city-wrap.partners__city-wrap--spb
							h2.partners__city Санкт-Петербург
							span.partners__number 2
						a.partners__item(href="#")
							h4.partners__item-title ООО "СТАРАТЕЛИ"
							p.partners__tel +7 (495) 641-30-00
							p.partners__address промзона Тураево, стр. 13
						a.partners__item(href="#")
							h4.partners__item-title ООО "Другой пункт"
							p.partners__tel +7 (495) 641-30-00
							p.partners__address промзона Тураево, стр. 13
include ../modules/footer.pug
include ../modules/site-map.pug
script(src="js/libs.min.js")
script(src="js/scripts.js")