include ../modules/main.pug
+main('Ortis | Продукция')
include ../modules/header.pug
main.main
	include ../modules/topbar.pug
	include ../modules/submenu.pug
	.breadcrumbs
		.container
			a.breadcrumbs__link(href="#") Главная
			a.breadcrumbs__link(href="#") Раздел
			a.breadcrumbs__link(href="#") Подраздел
	include ../modules/topslider.pug
	.catalog
		.container
			h2.catalog__title Продукция
			.flex-wrap
				a(href="#").catalog__item
					include ../../img/icon-rastvoronasos-noact.svg
					h2.catalog__item-title Растворонасосы
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title #{shtuk}
				a(href="#").catalog__item
					include ../../img/icon-rastvorosmesitel-noact.svg
					h2.catalog__item-title Растворосмесители
				a(href="#").catalog__item
					include ../../img/icon-betonosmesitel-noact.svg
					h2.catalog__item-title Бетоносмесители
				a(href="#").catalog__item
					include ../../img/icon-penobeton-noact.svg
					h2.catalog__item-title Оборудование для пенобетона
				a(href="#").catalog__item
					include ../../img/icon-spaklevochnie-noact.svg
					h2.catalog__item-title Шпаклевочные станции
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title Инструмент
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title Силосные системы
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title Оборудование для производства сухих смесей
				a(href="#").catalog__item
					include ../../img/icon-shtukatur-noact.svg
					h2.catalog__item-title Строительные материалы
	include ../modules/pop-goods.pug
	include ../modules/advant.pug
	include ../modules/reviews.pug
	include ../modules/information.pug
	.video-block
		.container
			h2.video-block__title Видео
			img.video-block__img(src="img/video-bg.png")
	include ../modules/news.pug
	+news('Статьи', 'Читать все статьи')
include ../modules/footer.pug
include ../modules/site-map.pug
script(src="js/libs.min.js")
script(src="js/scripts.js")