include ../modules/main.pug
+main('Ortis | Продукция')
include ../modules/header.pug
main.main
	include ../modules/topbar.pug
	include ../modules/submenu.pug
	.breadcrumbs
		.container
			a.breadcrumbs__link(href="#") Главная
			a.breadcrumbs__link(href="#") Раздел
			a.breadcrumbs__link(href="#") Подраздел
	.topslider.topslider--production
		video(playsinline autoplay muted loop)
			source(src='video/back.mp4')
		.topslider__slide
			.container.flex-wrap
				.topslider__img.topslider__img--sizes
					img(src="img/img1.svg")
				.topslider__info
					h2.topslider__title.topslider__title--pink Реклама по разделу
					p.topslider__descr Запатентованный принцип подачи сухой смеси в воду (высокое качество готового раствора). Смесительный вал специальной принудительной формы, который обеспечивает "взбивание" раствора
		.topslider__slide.topslider__slide--svg
			.container.flex-wrap
				.topslider__img
					img(src="img/delo.svg")
				.topslider__info
					h2.topslider__title Дело и время
					p.topslider__descr Уже более 10 лет нам доверяют не только строительные компании, но и крупнейшие производители сухих смесей. 
		.topslider__slide.topslider__slide--vertical
			.container
				h2.topslider__title Что может быть проще?
				.topslider__items.flex-wrap
					.topslider__item
						img.topslider__item-img(src="img/manufac.svg")
						h3.topslider__item-title Производство
					.topslider__item
						img.topslider__item-img(src="img/import.svg")
						h3.topslider__item-title Импорт
					.topslider__item
						img.topslider__item-img(src="img/use.svg")
						h3.topslider__item-title Применение
					.topslider__item
						img.topslider__item-img(src="img/service.svg")
						h3.topslider__item-title Обслуживание
	.catalog
		.container
			h2.catalog__title Продукция
			.flex-wrap
				a(href="#").catalog__item
					include ../../img/icon-rastvoronasos-noact.svg
					h2.catalog__item-title Растворонасосы
				a(href="#").catalog__item
					include ../../img/icon-pnevmotransport-noact.svg
					h2.catalog__item-title #{shtuk}
				a(href="#").catalog__item
					include ../../img/icon-rastvorosmesitel-noact.svg
					h2.catalog__item-title Растворосмесители
				a(href="#").catalog__item
					include ../../img/icon-betonosmesitel-noact.svg
					h2.catalog__item-title Бетоносмесители
				a(href="#").catalog__item
					include ../../img/icon-penobeton-noact.svg
					h2.catalog__item-title Оборудование для пенобетона
				a(href="#").catalog__item
					include ../../img/icon-spaklevochnie-noact.svg
					h2.catalog__item-title Шпаклевочные станции
				a(href="#").catalog__item
					include ../../img/icon-tools-noact.svg
					h2.catalog__item-title Инструмент
				a(href="#").catalog__item
					include ../../img/icon-silos-noact.svg
					h2.catalog__item-title Силосные системы
				a(href="#").catalog__item
					include ../../img/icon-production-noact.svg
					h2.catalog__item-title Оборудование для производства сухих смесей
				a(href="#").catalog__item
					include ../../img/icon-smesi-noact.svg
					h2.catalog__item-title Строительные материалы
	include ../modules/pop-goods.pug
	+pop-goods('Популярные товары')
	include ../modules/advant.pug
	include ../modules/reviews.pug
	include ../modules/information.pug
	.video-block
		.container
			h2.video-block__title Видео
			.video-block__wrapper
				.video-block__overlay
					button.video-block__play(type="button")
				iframe(src="https://www.youtube.com/embed/gi4kiQlaHWU" frameborder="0" allowfullscreen autoplay="0")
	include ../modules/news.pug
	+news('Статьи', 'Читать все статьи')
include ../modules/footer.pug
include ../modules/site-map.pug
script(src="js/libs.min.js")
script(src="js/scripts.js")
