@font-face {
	font-family: 'nerisblack';
	src: url('../fonts/neris-black.woff2') format('woff2'), url('../fonts/neris-black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nerislight';
	src: url('../fonts/neris-light.woff2') format('woff2'), url('../fonts/neris-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nerissemibold';
	src: url('../fonts/neris-semibold.woff2') format('woff2'), url('../fonts/neris-semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
