.advant
	.container
		h2.advant__title Наши преимущества
		.flex-wrap
			.advant__item
				h3.advant__item-title Первые руки
				p.advant__item-descr Мы всегда являемся представителями заводов и импортерами, что гарантирует наличие, лучшую цену, оперативный и профессиональный сервис.
			.advant__item
				h3.advant__item-title Нам доверяют лучшие
				p.advant__item-descr Много лет лучшие производители сухих смесей выбирают наше оборудование и сервис.
			.advant__item
				h3.advant__item-title 10 лет на рынке
				p.advant__item-descr Большой опыт и сформировавшаяся команда профессионалов позволяют решать не стандартные задачи.