header.page-header
	.container
		.row.flex-wrap
			button.menu-toggle(type="button")
			a.page-header__logo(href="/")
				img(src='img/logo-min.svg')
			nav.main-nav
				a(href='#').main-nav__link О компании
				a(href='#').main-nav__link Фото
				a(href='#').main-nav__link Видео
				a(href='#').main-nav__link Новинки
				a(href='#').main-nav__link Информация
				a(href='#').main-nav__link Партнеры
				a(href='#').main-nav__link Контакты
			form.page-header__form(action="#")
				input.page-header__input(placeholder="Поиск по сайту")
				a.page-header__tel(href="#") 8 (800) 100-46-27
				button.page-header__btn(type="submit")
			.page-header__cart
				span Корзина
				button(type="button") 15