header.header
	.container
		.row.flex-wrap
			button.menu-toggle(type="button").hamburger.hamburger--slider
				span.hamburger-box
					span.hamburger-inner
			a.header__logo(href="/")
				img(src='img/logo-min.svg')
			nav.main-nav
				a(href='#').main-nav__link О компании
				a(href='#').main-nav__link Фото
				a(href='#').main-nav__link Видео
				a(href='#').main-nav__link Новинки
				a(href='#').main-nav__link Информация
				a(href='#').main-nav__link Партнеры
				a(href='#').main-nav__link Контакты
			form.header__form(action="#")
				input.header__input(placeholder="Поиск по сайту")
				a.header__tel(href="#") 8 (800) 100-46-27
				button.header__btn(type="submit")
			a(href="#").header__cart
				span Корзина
				button(type="button") 15
