.information
	.container
		h2.information__title Информация
		.information__row.flex-wrap
			.information__img
				img(src="img/icon-shtukatur-act.svg")
			.information__info
				h3.information__subtitle Штукатурные станции
				p.information__descr Немецкие штукатурные станции m-tec или смесительные растворонасосы во всем мире считаются одними из лучших, т.к. m-tec в производстве штукатурных станций использует только европейские комплектующие и каждая единица оборудования прежде чем выйти с немецкого завода проходит обязательный контроль качества. m-tec более 30 лет производит штукатурные станции и за это время было получено множество патентов на использование технологий, которые используются в производстве современных штукатурных станций m-tec. Данные технологии положительно влияют на качество приготовления раствора, что в свою очередь ведет к увеличению срока службы расходных частей, увеличивает высоту и дальность подачи, облегчает труд отделочников.
		.information__row.flex-wrap
			.information__img
				img(src="img/icon-torket.svg")
			.information__info
				h3.information__subtitle Торкет установки
				p.information__descr ТОРКРЕТ УСТАНОВКА - это высокотехнологичное оборудование, которое широко применяется для технологии полусухого или сухого торкретирования. Торкрет установка осуществляет непрерывную подачу торкрет бетона на торкретируюмую поверхность с высокой скоростью, что обеспечивает высокопрочную торкрет поверхность. Торкрет установки нашли свое широкое применение при реконструкциях ветхих сооружений, строительстве тоннелей и мостов, а также в металлургической и других промышленностях.
		.information__row.flex-wrap
			.information__img
				img(src="img/icon-rastvoronasos.svg")
			.information__info
				h3.information__subtitle Растворонасосы
				p.information__descr Широкая линейка растворонасосов позволяет выбрать необходимый растворонасос специально для потребностей покупателя. У нас представлены небольшие растворонасосы с небольшой производительностью, а также растворонасосы.
		.information__row.flex-wrap
			.information__img
				img(src="img/icon-torket.svg")
			.information__info
				h3.information__subtitle Пневмотранспортные системы
				p.information__descr Пневмотранспортные системы используются для транспортировки сухих материалов, как правило, пневмотранспортная система hurrican подключается к транспортному силосу и обеспечивает автоматическую подачу сухой смеси к штукатурной станции. Пневмотранспортную систему также можно наполнять из мешков, что расширяет ее сферу применения. Пневмотранспортные системы m-tec оборудованы немецким кулачковым компрессор, что обеспечивает бесперебойность работы на долгие годы.