.news
	.container
		h2.news__title Новости
		.flex-wrap
			.news__item
				h3.news__item-title
					a ООО "ГК ОРТИС" поздравляет с Днем Великой Победы!
				p.news__descr От всей души поздравляем Вас с 9 мая - замечательным, радостным днем, который наполняет наши души и сердца гордостью!
			.news__item
				h3.news__item-title
					a ООО "ГК ОРТИС" примет участие в выставке "YugBuild 2017" г. Краснодар
				p.news__descr В период с 28 февраля по 3 марта 2017 года ООО "ГК ОРТИС" примет участие в крупнейшем мероприятии на Юге России - Международной выставке "YugBuild 2017".
			.news__item
				h3.news__item-title
					a ООО "ГК ОРТИС" поздравляет с Днем Великой Победы!
				p.news__descr От всей души поздравляем Вас с 9 мая - замечательным, радостным днем, который наполняет наши души и сердца гордостью!
		a.news__link.common-btn Все новости