.pop-goods
	.container
		h2.pop-goods__title Популярные товары
		.flex-wrap
			.pop-goods__item
				.pop-goods__img
					img(src="img/goods1.png")
					.pop-goods__hide
						p.pop-goods__hide-info Производительность, л/мин: ок. 25
						p.pop-goods__hide-info Обороты в минуту ок.: 400
						p.pop-goods__hide-info Диаметр статора, мм : 89
						p.pop-goods__hide-info Длина статора, мм:  270
						p.pop-goods__hide-info Фракция, мм:  до 4
				.pop-goods__wrap.flex-wrap
					.pop-goods__info
						h3.pop-goods__subtitle Название товара
						.pop-goods__price 312 500 ₽
						.pop-goods__status На складе
					button(type="button").pop-goods__buy Купить
			.pop-goods__item
				.pop-goods__img
					img(src="img/goods1.png")
					.pop-goods__hide
						p.pop-goods__hide-info Производительность, л/мин: ок. 25
						p.pop-goods__hide-info Обороты в минуту ок.: 400
						p.pop-goods__hide-info Диаметр статора, мм : 89
						p.pop-goods__hide-info Длина статора, мм:  270
						p.pop-goods__hide-info Фракция, мм:  до 4
				.pop-goods__wrap.flex-wrap
					.pop-goods__info
						h3.pop-goods__subtitle Название товара 2
						.pop-goods__price 33 000 ₽
						.pop-goods__status.pop-goods__status--wait Ожидается
					button(type="button").pop-goods__buy Купить
			.pop-goods__item
				.pop-goods__img
					img(src="img/goods1.png")
					.pop-goods__hide
						p.pop-goods__hide-info Производительность, л/мин: ок. 25
						p.pop-goods__hide-info Обороты в минуту ок.: 400
						p.pop-goods__hide-info Диаметр статора, мм : 89
						p.pop-goods__hide-info Длина статора, мм:  270
						p.pop-goods__hide-info Фракция, мм:  до 4
				.pop-goods__wrap.flex-wrap
					.pop-goods__info
						h3.pop-goods__subtitle Название товара 3
						.pop-goods__price 3 100 ₽
						.pop-goods__status На складе
					button(type="button").pop-goods__buy Купить
			.pop-goods__item
				.pop-goods__img
					img(src="img/goods1.png")
					.pop-goods__hide
						p.pop-goods__hide-info Производительность, л/мин: ок. 25
						p.pop-goods__hide-info Обороты в минуту ок.: 400
						p.pop-goods__hide-info Диаметр статора, мм : 89
						p.pop-goods__hide-info Длина статора, мм:  270
						p.pop-goods__hide-info Фракция, мм:  до 4
				.pop-goods__wrap.flex-wrap
					.pop-goods__info
						h3.pop-goods__subtitle Название товара 3
						.pop-goods__price 3 100 ₽
						.pop-goods__status На складе
					button(type="button").pop-goods__buy Купить