.reviews
	.container
		h2.reviews__title Отзывы
		.reviews__slider
			.reviews__slide
				p.reviews__descr Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество.  
				p.reviews__descr  Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле.
				p.reviews__descr Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
				.reviews__img
					img(src="img/review-img.png")
			.reviews__slide
				p.reviews__descr Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество.  
				p.reviews__descr  Другой текст Другой текст Другой текст Другой текстДругой текстДругой текстvДругой текстм Другой текстмv Другой текст Другой текст Другой текст Другой текст м м Другой текст Другой текст Другой текст Другой текст 
				p.reviews__descr Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
				.reviews__img
					img(src="img/review-img.png")
		a.reviews__link.common-btn Все отзывы