.reviews
	.container
		h2.reviews__title Отзывы
		.reviews__slider
			.reviews__slide
				p.reviews__descr Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество.  
				p.reviews__descr  Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле.
				p.reviews__descr Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
				.reviews__img(src="img/review-img.png")
					img
			.reviews__slide
				p.reviews__descr Компания «Старатели» выражает искреннюю благодарность и глубокую признательность нашему надежному партнеру ООО «ГК ОРТИС»  за многолетнее успешное сотрудничество.  
				p.reviews__descr  Ваши квалифицированные специалисты всегда работают на высочайшем профессиональном уровне, благодаря этому мы всегда уверены в успешном результате совместной работы. Очень важно иметь порядочного и надежного бизнес-партнера, который не раз доказывал это на деле.
				p.reviews__descr Надеемся на дальнейшее плодотворное сотрудничество и желаем успехов в профессиональной деятельности!
				.reviews__img(src="img/review-img.png")
					img
		a.reviews__link Все отзывы