.site-map
	.container
		a.site-map__logo(href="/")
			img(src="img/logo-white.svg")
		form.site-map__form
			input(placeholder='Поиск по сайту').site-map__input
			button.site-map__btn(type="submit")
		.site-map__row.flex-wrap
			.site-map__col
				.site-map__item.site-map__item--about
					h2.site-map__item-title О компании
					a.site-map__link(href="#") Информация
					a.site-map__link(href="#") Партнеры
					a.site-map__link(href="#") Контакты
					a.site-map__link(href="#") Фото
					a.site-map__link(href="#") Видео
				.site-map__item.site-map__item--rent
					h2.site-map__item-title Ремонт, аренда и сервис
					a.site-map__link(href="#") Аренда оборудования
					a.site-map__link(href="#") Ремонт оборудования
					a.site-map__link(href="#") Обучение и пусконаладка
					a.site-map__link(href="#") Запасные части
			.site-map__col
				.site-map__item.site-map__item--prod
					h2.site-map__item-title Продукция
					a.site-map__link.site-map__link--more(href="#") Штукатурные станции
					a.site-map__link.site-map__link--more(href="#") Торкрет установки
					a.site-map__link.site-map__link--more(href="#") Растворонасосы
					a.site-map__link.site-map__link--more(href="#") Пневмотранспортные системы
					a.site-map__link.site-map__link--more(href="#") Растворосмесители
					a.site-map__link.site-map__link--more(href="#") Бетоносмесители
					a.site-map__link.site-map__link--more(href="#") Оборудование для пенобетона
					a.site-map__link.site-map__link--more(href="#") Шпаклевочные станции
			.site-map__col
				.site-map__item.site-map__item--contacts
					h3.site-map__item-title Контакты
					.site-map__contact-item
						h3.site-map__subtitle Телефоны:
						a.site-map__tel(href="tel:88001004627") 8 (800) 100-46-27
						h3.site-map__subtitle Многоканальный, бесплатно по всей России Будни: 9:00–19:00, выходной: сб, вс. 
						a.site-map__tel(href="tel:+74952324127") +7 495 232-41-27 (мнк.)
						a.site-map__tel(href="tel:+79099842981") +7 909 984-29-81
						a.site-map__tel(href="tel:+74957927781") +7 495 792-77-81
					.site-map__contact-item
						h3.site-map__subtitle E-mail:
						a.site-map__mail(href="mailto:at@gk-ortis.ru") at@gk-ortis.ru
						a.site-map__mail(href="mailto:ag@gk-ortis.ru") ag@gk-ortis.ru
					.site-map__contact-item
						h3.site-map__subtitle Адрес:
						p.site-map__address г. Москва, Бизнес Парк "Румянцево", корпус Д, подъезд №19, этаж 7, офис 710
					.site-map__contact-item
						h3.site-map__subtitle Адрес склада:
						p.site-map__address г. Москва, Проектируемый проезд №134