.topbar
	.container.flex-wrap
		a.topbar__logo
			img(src="img/logo-black.svg")
		.topbar__info
			a(href="tel:88001004627").topbar__tel 8 (800) 100-46-27
			p.topbar__text Многоканальный, бесплатно по всей России 
			p.topbar__text Будни: 9:00–19:00, выходной: сб, вс.
	