.topslider
	.topslider__slide
		.container.flex-wrap
			.topslider__img
				img(src="img/delo.svg")
			.topslider__info
				h2.topslider__title Дело и время
				p.topslider__descr Уже более 10 лет нам доверяют не только строительные компании, но и крупнейшие производители сухих смесей. 
	.topslider__slide.topslider__slide--vertical
		.container
			h2.topslider__title Что может быть проще?
			.topslider__items.flex-wrap
				.topslider__item
					img.topslider__item-img(src="img/manufac.svg")
					h3.topslider__item-title Производство
				.topslider__item
					img.topslider__item-img(src="img/import.svg")
					h3.topslider__item-title Импорт
				.topslider__item
					img.topslider__item-img(src="img/use.svg")
					h3.topslider__item-title Применение
				.topslider__item
					img.topslider__item-img(src="img/service.svg")
					h3.topslider__item-title Обслуживание