- var prod = 'Продукция'
- var shtuk = 'Штукатурные станции'
- var shnek = 'Шнековые пары'
- var torket = 'Торкет установки'
- var rashod = 'Расходные части'
- var oborud = 'Оборудовние для производства'
- var serv = 'Сервис'
- var rent = 'Аренда'
- var syh = 'Сухие смеси'